{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara/ledger-noir
 :project/version "0.1.0"
 :project/source-paths []
 :project/test-paths ["test"]
 :project/extension-paths ["target/package"]
 :project/capabilities #{}
 :project/artifact-paths ["target/package"]
 :project/archive-root "target/package"
 :project/package {:entry-points ["ledger.noir"]
                   :license "EPL-2.0"}}
