[submodule "hara-docs"]
	path = hara-docs
	url = https://github.com/hara-lang/hara-docs.git
[submodule "hara-extensions"]
	path = hara-extensions
	url = https://github.com/hara-lang/hara-extensions.git
[submodule "hara-specs"]
	path = hara-specs
	url = https://github.com/hara-lang/hara-specs.git
[submodule "hara-archive"]
	path = hara-archive
	url = https://github.com/hara-lang/hara-archive.git
