[submodule "archive"]
	path = archive
	url = https://github.com/hara-lang/hara-archive.git
[submodule "extensions"]
	path = extensions
	url = https://github.com/hara-lang/hara-extensions.git
[submodule "website"]
	path = website
	url = https://github.com/hara-lang/hara-www.git
[submodule "specs"]
	path = specs
	url = https://github.com/hara-lang/hara-specs.git
