{:namespace "std.db.provider.pglite"
 :identity "hara/std.db.pglite"
 :version "0.1.0"
 :provider :hta
 :abi :hta.v1
 :targets
 {:node {:module "node/worker.mjs" :runtime :process}
  :browser {:module "browser/worker.mjs" :runtime :web-worker}}
 :exports
 {"version" {:args [] :returns :map :async true}
  "open"    {:args [:map] :returns :map :async true}
  "exec"    {:args [:int :string :vector] :returns :map :async true}
  "query"   {:args [:int :string :vector] :returns :map :async true}
  "close"   {:args [:int] :returns :boolean :async true}}
 :capabilities []}
